[submodule "hashset-cpp"]
	path = hashset-cpp
	url = https://github.com/bbondy/hashset-cpp.git
[submodule "bloom-filter-cpp"]
	path = bloom-filter-cpp
	url = https://github.com/bbondy/bloom-filter-cpp.git
[submodule "ad-block"]
	path = ad-block
	url = https://github.com/brave/ad-block.git
[submodule "tracking-protection"]
	path = tracking-protection
	url = https://github.com/brave/tracking-protection.git
[submodule "braveSync"]
	path = braveSync
	url = https://github.com/brave/sync
